<div class="text-center"><p>You have not chosen any favourite songs yet.</p>
<p>Go to the random or search views and use the <img src="fav-add.png"/> button to add favourites to your personal list</p>
</div>
