<div class="nomatch"><p>Woah! Nothing matches your search for 
"<%= search_term %>"</p>
<p>Try entering just part of the name of the song or artist you're looking for, or use the <img src="media-playlist-shuffle.png"/> button to get some random songs to get you going!
</p></div>
